<% include ./partials/header %>
<div class="ui main container segment">

    <table class="ui celled table">
        <thead>
          <tr><th>Name</th>
          <th>Path</th>
          <th>HTTP</th>
          <th>Purpose</th>
        </tr></thead>
        <tbody>
          <tr>
            <td>Users</td>
            <td><a href="/api/users">/api/users</a></td>
            <td>GET</td>
            <td>All user list</td>
          </tr>
          <tr>
            <td>Blogs</td>
            <td><a href="/api/blogs">/api/blogs</a></td>
            <td>GET</td>
            <td>All Blog data</td>
          </tr>
          <tr>
            <td>Blogs</td>
            <td>/api/blogs</td>
            <td>POST</td>
            <td>Post Blog data</td>
          </tr>
         
        </tbody>
       
      </table>
</div>